
.container-full {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container-description {
    z-index: 8;
    font-size: 24px;
}

#coffee-map {
    position: relative;
    text-align: center;
    width: 100%;
    height: 600px;
    z-index: 2;
    overflow: hidden;
    
}

.text-green {
    color: rgb(75,143,46);
}

.text-red {
    color: rgb(145,1,10);
}

@media(max-width:767px){

    h1, h2, h3, h4 {
        font-size: 20px;
    }

    .container-description {
        width: 100%;
    }

    #coffee-map {
        padding-top: 20px;
        height: 300px;
    }

}

/* SVG styling */

.overlay {
  fill: none;
  pointer-events: all;
}

.land {
  fill: #fff;
  stroke: #aaa;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.water {
    fill: #C5E3EB;
}

.import, .export {
    fill: none;
}

.slider {
    height: 40px;
}

.q0-green { fill:rgb(212,242,197); }
.q1-green { fill:rgb(174,230,147); }
.q2-green { fill:rgb(156,224,123); }
.q3-green { fill:rgb(123,213,84); }
.q4-green { fill:rgb(104,193,66); }
.q5-green { fill:rgb(94,176,58); }
.q6-green { fill:rgb(85,160,53); }
.q7-green { fill:rgb(75,143,46); }

.q0-red { fill:rgb(254,224,224); }
.q1-red { fill:rgb(244,183,178); }
.q2-red { fill:rgb(224,145,134); }
.q3-red { fill:rgb(208,112,96); }
.q4-red { fill:rgb(185,77,61); }
.q5-red { fill:rgb(166,47,33); }
.q6-red { fill:rgb(145,1,10); }
